root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{cs,csproj,props,targets,nuspec,slnx,wxs,wixproj,nsi,nsh,json}]
indent_style = space
trim_trailing_whitespace = true

[*.{cs}]
indent_size = 4

[*.{csproj,props,targets,nuspec,slnx,wxs,wixproj,json}]
indent_size = 2

[*.{nsi,nsh}]
indent_size = 2

[*.{sh,ps1,yml,yaml,md}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
